{% extends 'core/base/form.html' %}

{% load my_tags %}


{% block form_body %}
<h1>Plan</h1>
{% endblock form_body %}

{% block form_extra %}

{% if request.GET.thing %}
<a href="{% url 'core:thing_detail' pk=request.GET.thing %}" class="btn btn-warning mb-2" type="button">Cancel</a>

{% else %}
{% get_owner request.user.pk as owner %}
<a href="{% url 'core:user_detail' pk=owner.pk%}?my_plans" class="btn btn-warning mb-2" type="button">Cancel</a>
{% endif %}

{% if plan %}
<a href="{% url 'core:plan_delete' pk=plan.pk %}" class="btn btn-danger mb-2" type="button">Delete</a>
{% endif %}

{% endblock form_extra %}