{% extends 'core/base.html' %}
{% load crispy_forms_tags %}


{% block body_block %}
{% if registered %}
    <h1>Thank you for creating an account, now login!</h1>
    <a href="{% url 'core:user_login'%}"><button class="btn btn-primary btn-lg" type="button">Login</button></a>

{%else%}
    <h1>Register here!</h1>
    <h3>Begin by entering your information</h3>

    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        <input type="submit", class='btn btn-success', value='Register'>
    </form>
{% endif %}
{% endblock body_block %}