{% extends 'core/base.html' %}
{% load thing_filters %}

{% block body_block %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<h1>{{thing_detail.name}}</h1>
<div class="row my-4">
    <div class="col-lg-3 col-xs-12">
        <h3>Description</h3>
        <p>{{thing_detail.get_fields.long_description}}</p>
    </div>
    <div class="col-lg-9 col-xs-12">
    {% if thing_detail.picture_set.all %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for picture in thing_detail.picture_set.all %}
            {% if forloop.counter == 1 %}
                <div class="carousel-item active">
            {% else %}
                <div class="carousel-item">
            {% endif %}
                <img src="{{picture.image.url}}" class="img-fluid rounded d-block w-100">
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% else %}
    <h2>NO IMAGES!</h2>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{%url "core:add_picture"%}?thing={{thing_detail.id}}" class='btn btn-dark mt-2'>Add Image</a>
    {% endif %}
    {% if user.is_superuser %}
        <a href="{%url 'core:thing_update' pk=thing_detail.pk%}" class='btn btn-warning mt-2'>Update</a>
    {% endif %}
    {% if user.is_superuser %}
        <a href="{%url 'core:thing_delete' pk=thing_detail.pk%}" class='btn btn-danger mt-2'>Delete</a>
    {% endif %}
    </div>
</div>
<div class="row my-4">
{% for field, value in thing_detail.get_fields.items %}
    {% if field != 'long_description' %}
    <div class="col-lg-2 col-sm-6">
        <h6>{{field|add_spaces}}</h6>
        <p>{{value}}</p>
    </div>
    {% endif %}
{% endfor %}
</div>


{% endblock body_block %}