{% extends 'core/base.html' %}

{% block body_block %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Please Login</h1>
            <form action="{%url 'core:user_login'%}" method='post'>
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" name="username">
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password">
                    <label for="password">Password</label>
                </div>
            
                <input type="submit" value="Login" class='btn btn-dark'>
            </form>
        </div>
        <div class="col">
         <h1>Don't have an account?</h1>
         <a href="{% url "core:register"%}" class="btn btn-success">Register</a>
        </div>
    </div>
</div>


{% endblock body_block %}