{% extends 'core/base/base.html' %}

{% load thing_filters %}
{% load static %}

{% block base_body %}

<a id="#top"></a>

<style>
.card-img {
    filter: brightness(50%)
}
</style>

<div class="row">
    <div class="col-md-3 col-xs-6">
        <form class='pb-4 p-2'>
            <h1>Categories</h1>
            <p>Remember to apply filters.</p>
            {% for category in categories %}
                <div class="form-check form-switch">
                    <input {% is_checked category request.GET %} name="{{category}}" id="switch{{forloop.counter}}" class="form-check-input" type="checkbox" role="switch">
                    <label class="form-check-label" for="switch{{forloop.counter}}">{{category}}</label>
                </div>
            {% endfor %}
            
            <div class="form-floating my-2">
                {% get_param_value 'stars' request.GET as stars_selected%}
                {% if stars_selected %}
                <input value="{{stars_selected}}" name="stars" id="stars" type="number" class="form-control">
                {% else %}
                <input name="stars" id="stars" type="number" class="form-control">
                {% endif %}
                <label for="stars">Min Stars</label>
            </div>
        
            
            <div class="form-floating">
                <select name="type" class="form-select mb-2" id="type_select">
                {% get_param_value 'type' request.GET as type_selected %}
                {% if type_selected %}
                    <option>Any</option>
                {% else %}
                    <option selected>Any</option>
                {% endif %}

                {% get_types thing_list as types %}
                {% for type in types %}
                    {% if type_selected == type %}
                        <option selected value="{{type}}">{{type}}</option>
                    {% else %}
                        <option value="{{type}}">{{type}}</option>
                    {% endif %}
                {% endfor %}
                </select>
                <label for="type_select">Type</label>
            </div>

            {% is_in_query 'Attraction Food Outdoor Shopping' request.GET as is_in %}
            {% if is_in %}
                <div class="form-floating mb-2">
                    {% get_param_value 'neighborhood' request.GET as neighborhood_selected %}
                    {% if neighborhood_selected %}
                        <input value="{{neighborhood_selected}}" name="neighborhood" type="text" class="form-control" id="neighborhood_text">
                    {% else %}
                        <input name="neighborhood" type="text" class="form-control" id="neighborhood_text">
                    {% endif %}
                    <label for="neighborhood_text">Neighborhood</label>
                </div>

                <div class="form-floating">
                    <select name="good_for" class="form-select mb-2" id="good_for_select">
                    {% get_param_value 'good_for' request.GET as good_for_selected %}
                    {% if good_for_selected %}
                        <option>Any</option>
                    {% else %}
                        <option selected>Any</option>
                    {% endif %}
                    {% get_good_fors thing_list as good_fors %}
                    {% for good_for in good_fors %}
                        {% if good_for_selected == good_for %}
                            <option selected value="{{good_for}}">{{good_for}}</option>
                        {% else %}
                            <option value="{{good_for}}">{{good_for}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                    <label for="good_for_select">Good for</label>
                </div>
            {% endif %}
        
            {% is_in_query 'Tour' request.GET as is_in %}
            {% if is_in %}
                <div class="form-floating mb-2">
                    {% get_param_value 'price' request.GET as price_selected %}
                    {% if price_selected %}
                        <input value="{{price_selected}}" name="price" type="number" class="form-control" id="price">
                    {% else %}
                        <input name="price" type="number" class="form-control" id="price">
                    {% endif %}
                    <label for="price">Max Price</label>
                </div>
        
                <div class="form-floating mb-2">
                    {% get_param_value 'duration' request.GET as duration_selected %}
                    {% if duration_selected %}
                        <input value="{{duration_selected}}" name="duration" type="number" class="form-control" id="duration">
                    {% else %}
                        <input name="duration" type="number" class="form-control" id="duration">
                    {% endif %}
                    <label for="duration">Max Duration</label>
                </div>
            {% endif %}

            <button type="submit" class="btn btn-dark mb-2">Apply Filters</button>
        </form>
    </div>
    <div class="col-md-9 col-xs-6" id="main">
        <div class="p-4 bg-light rounded-3">
            <div class="row">
                {% if thing_list %}
                {% for thing in thing_list %}
                    <div class="col-md-6 col-sm-12 pb-2">
                        <div class="card bg-dark text-white">
                            {% if thing.get_picture.image.url %}
                                <img src="{{thing.get_picture.image.url}}" class="card-img img-fluid height-25%">
                            {% else %}
                                <img src="{% static 'thing_default.jpg' %}">
                            {% endif %}
                            
                            <div class="card-img-overlay">
                                <h5 class="card-title">{{thing.name}}</h5>
                                <p class="card-text">{{thing.short_description}}</p>
                            </div>
        
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Stars: {{thing.stars}}</li>
                                <li class="list-group-item">Address: {{thing.address}}</li>
                                <li class="list-group-item">Category: {{thing.category}}</li>
        
                            {% if thing.category in 'Attraction Food Outdoor Shopping' %}
                                {% my_get_field 'neighborhood' thing as neighborhood %}
                                {% my_get_field 'type' thing as type %}
                                {% my_get_field 'good_for' thing as good_for %}
        
                                <li class="list-group-item">Neighborhood: {{neighborhood}}</li>
                                <li class="list-group-item">Type: {{type}}</li>
                                <li class="list-group-item">Good for {{good_for}}</li>
        
                            {% elif thing.category == 'Tour' %}
                                <li class="list-group-item">Type: {{thing.tour.type}}</li>
                                <li class="list-group-item">Price: {{thing.tour.price}}</li>
                                <li class="list-group-item">Duration: {{thing.tour.duration}}</li>
        
                            {% endif %}
        
                            <a href="{% url "core:thing_detail" pk=thing.pk%}" class='btn btn-dark'><li class='list-group-item'>Visit</li></a>
                            </ul>
                        </div>           
                    </div>
                {% endfor %}
                {% else %}
                    <h1>There's nowhere so specific!</h1>
                    <p>Try less selective options.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock base_body %}