{% extends 'core/base/form.html' %}

{% load thing_filters %}


{% block form_body %}
{% get_thing request.GET as thing %}
<h1>Comment on "{{thing.name}}"</h1>
{% endblock form_body %}

{% block form_extra %}
{% get_thing request.GET as thing %}
<a href="{% url 'core:thing_detail' pk=thing.id%}"><button class="btn btn-warning mb-2" type="button">Cancel</button></a>
{% if comment %}
<a href="{%url 'core:comment_delete' pk=comment.id%}?thing={{thing.id}}" class="btn btn-danger mb-2" type="button">Delete</a>
{% endif %}
{% endblock form_extra %}

{% block form_fields %}

<style>
    h6 { font-weight:normal; }
</style>

<fieldset class="starability-basic">
    <h6>Rating*</h6>
    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
    <input type="radio" id="first-rate1" name="rating" value="1" />
    <label for="first-rate1" title="Terrible">1 star</label>
    <input type="radio" id="first-rate2" name="rating" value="2" />
    <label for="first-rate2" title="Not good">2 stars</label>
    <input type="radio" id="first-rate3" name="rating" value="3" />
    <label for="first-rate3" title="Average">3 stars</label>
    <input type="radio" id="first-rate4" name="rating" value="4" />
    <label for="first-rate4" title="Very good">4 stars</label>
    <input type="radio" id="first-rate5" name="rating" value="5" />
    <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>

{% endblock form_fields %}